@model MyAttd.Models.T_GroupSupp

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{
    @using (Html.BeginForm("Edit", "TGroupSupp", FormMethod.Post, new { id = "frmId", @class = "frmStyle" }))
    {
        @Html.AntiForgeryToken()
        <div class="editors">
            <div class="dx-field center col-md-12 center">
                @Html.LabelFor(m => m.GroupSuppID)
                @Html.TextBoxFor(m => m.GroupSuppID, new { @readonly = "readonly", @class = "form-control" })

                @Html.LabelFor(m => m.GroupSuppName)
                @Html.TextBoxFor(m => m.GroupSuppName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.GroupSuppName)

                @Html.LabelFor(m => m.Regional)
                @Html.DropDownListFor(m => m.Regional, new SelectList(ViewBag.DListRegional, "Regional", "Regional"), new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Regional)
            </div>

            <div class="dx-field center col-md-12">
                <button id="button"
                        text="Edit"
                        class="btn btn-success"
                        usesubmitbehavior="true">
                    <h4>Edit</h4>
                </button>
            </div>

        </div>


        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
        <script>

        </script>

    }
}