@model MyAttd.Models.User

@{
    ViewData["Title"] = "Ubah Kata Sandi";
}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>
</section>

@if (ViewBag.Message != null)
{
    <section class="content" style="min-height:0px !important;padding-top:0px !important; padding-bottom:0px !important;">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning box-solid" style="margin-top:15px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Perhatian!</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        @ViewBag.Message
                    </div>
                </div>
            </div>
        </div>
    </section>
}

@if (ViewBag.Error != null)
{
    <section class="content" style="min-height:0px !important;padding-top:0px !important; padding-bottom:0px !important;">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-danger box-solid" style="margin-top:15px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Error!</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <h2 class="text-danger">@ViewBag.Error</h2>
                        <div>
                            <a asp-area="" asp-controller="Home" asp-action="Index">Kembali</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}


<section class="content container-fluid">
    <div class="box">
        <div class="box-header with-border">
            <p>
                Ubah Kata Sandi.
            </p>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {

                //using (Html.DevExtreme().ValidationGroup())
                //{
                @Html.AntiForgeryToken()
                <div class="editors">
                    <div class="dx-fieldset col-md-12">
                        <div class="dx-fieldset-header" style="text-decoration:underline">Pengguna : <b>@Model.FCUserName</b></div>
                        <div class="dx-field center col-md-12">
                            @Html.LabelFor(m => m.FCName)
                            @*@Html.DevExtreme().TextBoxFor(m => m.FCName).ID("FCName").ShowClearButton(true)*@
                            @Html.TextBoxFor(m => m.FCName, new { @id = "FCName", @class = "form-control" })
                        </div>
                        <div class="dx-field center col-md-12">
                            @Html.LabelFor(m => m.CurrentPassword)
                            @*@Html.DevExtreme().TextBoxFor(m => m.CurrentPassword).Mode(TextBoxMode.Password).ID("CurrentPassword").ShowClearButton(true)*@
                            @Html.TextBoxFor(m => m.CurrentPassword, new { @type = "password", @id = "CurrentPassword", @class="form-control" })
                        </div>
                        <div class="dx-field center col-md-12">
                            @Html.LabelFor(m => m.NewPassword)
                            @*@Html.DevExtreme().TextBoxFor(m => m.NewPassword).Mode(TextBoxMode.Password).ID("NewPassword").ShowClearButton(true)*@
                            @Html.TextBoxFor(m => m.NewPassword, new { @type = "password", @id = "NewPassword", @class = "form-control" })
                        </div>
                        <div class="dx-field center col-md-12">
                            @Html.LabelFor(m => m.ConfirmPassword)
                            @*@Html.DevExtreme().TextBoxFor(m => m.ConfirmPassword).Mode(TextBoxMode.Password).ID("ConfirmPassword").ShowClearButton(true)*@
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @type = "password", @id = "ConfirmPassword", @class = "form-control" })
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.FCUserID)
                    @Html.HiddenFor(m => m.FCUserName)
                    <div class="dx-fieldset col-md-12">
                        <div class="dx-field right col-md-4">
                            @*@Html.DevExtreme().Button().ID("button").Text("Simpan").Type(ButtonType.Success).OnClick("saveClick").UseSubmitBehavior(true)*@
                            <button type="button" class="btn btn-success" onclick="saveClick()">Simpan</button>
                        </div>
                    </div>
                    <div>
                        *Minimum length password 8 Characters, Maximal 15 Characters<br />
                        1. At least 1 UpperCase (A-Z)<br />
                        2. At least 1 LowerCase (a-z)<br />
                        3. At Least 1 Number (1-9)<br />
                        4. At Least 1 Special Character (! &#64; # $ % ^ & * ( ) _ + = \ [ { \ ] } ; : < > | . / ? ,  -)<br />
                    </div>
                </div>

                //}
            }
        </div>
    </div>
</section>


<script>
    DevExpress.config({
        editorStylingMode: "outlined"
    });

    function saveClick(e) {
        var result = e.validationGroup.validate();
        if (!result.isValid) {
            DevExpress.ui.notify("Maaf Kata Sandi Baru dan Konfirmasi Kata Sandi Baru Tidak Cocok.", "error");
            return false;
        } else {
            return true;
        }
    }
</script>
