@model MyAttd.Models.T_Budget
@*<div class="title">
        VIEW Incentive
        <hr />
    </div>*@

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{
    @using(Html.BeginForm("Delete", "TBudget", FormMethod.Post, new { id = "frmId", @class = "frmStyle" }))
    {
        @Html.AntiForgeryToken()
        <div class="editors">
            @*Row 1------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-2">
                @Html.LabelFor(m => m.PMKSID)
                @Html.TextBoxFor(m => m.PMKSID, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PMKSID)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Periode)
                @Html.TextBoxFor(m => m.Periode, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Periode)
            </div>
            <div class="col-md-5">
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.Price_BunchAsh)
                @Html.TextBoxFor(m => m.Price_BunchAsh, new { @readonly = "readonly", @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Price_BunchAsh)
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-12">
                <hr color=red>
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-4">
                @Html.LabelFor(m => m.VolumeFFB_KG)
                @Html.TextBoxFor(m => m.VolumeFFB_KG, new { @readonly = "readonly", @class = "form-control", @id = "VolumeFFB_KG" })
                @Html.ValidationMessageFor(m => m.VolumeFFB_KG)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.VolumeCPO_KG)
                @Html.TextBoxFor(m => m.VolumeCPO_KG, new { @readonly = "readonly", @class = "form-control", @id = "VolumeCPO_KG" })
                @Html.ValidationMessageFor(m => m.VolumeCPO_KG)
            </div>
            <div class="col-md-4">
                @Html.LabelFor(m => m.VolumePK_KG)
                @Html.TextBoxFor(m => m.VolumePK_KG, new { @readonly = "readonly", @class = "form-control", @id = "VolumePK_KG" })
                @Html.ValidationMessageFor(m => m.VolumePK_KG)
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-12">
                <hr color=red>
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-2">
                @Html.LabelFor(m => m.OER)
                @Html.TextBoxFor(m => m.OER, new { @readonly = "readonly", @class = "form-control", @id = "OER" })
                @Html.ValidationMessageFor(m => m.OER)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.KER)
                @Html.TextBoxFor(m => m.KER, new { @readonly = "readonly", @class = "form-control", @id = "KER" })
                @Html.ValidationMessageFor(m => m.KER)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.HK)
                @Html.TextBoxFor(m => m.HK, new { @readonly = "readonly", @class = "form-control", @id = "HK" })
                @Html.ValidationMessageFor(m => m.HK)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.NetMargin_USD_MT_CPO)
                @Html.TextBoxFor(m => m.NetMargin_USD_MT_CPO, new { @readonly = "readonly", @class = "form-control", @id = "NetMargin" })
                @Html.ValidationMessageFor(m => m.NetMargin_USD_MT_CPO)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.ExchangeRate)
                @Html.TextBoxFor(m => m.ExchangeRate, new { @readonly = "readonly", @class = "form-control", @id = "ExchangRate" })
                @Html.ValidationMessageFor(m => m.ExchangeRate)
            </div>
            <div class="col-md-2">
                @Html.LabelFor(m => m.Capacity)
                @Html.TextBoxFor(m => m.Capacity, new { @readonly = "readonly", @class = "form-control", @id = "Capacity" })
                @Html.ValidationMessageFor(m => m.Capacity)
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-12">
                <hr color=red>
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProduksiCangkang_KG)
                @Html.TextBoxFor(m => m.ProduksiCangkang_KG, new { @readonly = "readonly", @class = "form-control", @id = "ProduksiCangkang_KG" })
                @Html.ValidationMessageFor(m => m.ProduksiCangkang_KG)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.BakarCangkang_KG)
                @Html.TextBoxFor(m => m.BakarCangkang_KG, new { @readonly = "readonly", @class = "form-control", @id = "BakarCangkang_KG" })
                @Html.ValidationMessageFor(m => m.BakarCangkang_KG)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.EBITDA_Cangkang)
                @Html.TextBoxFor(m => m.EBITDA_Cangkang, new { @readonly = "readonly", @class = "form-control", @id = "EBITDA_Cangkang" })
                @Html.ValidationMessageFor(m => m.EBITDA_Cangkang)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.ProduksiBA_KG)
                @Html.TextBoxFor(m => m.ProduksiBA_KG, new { @readonly = "readonly", @class = "form-control", @id = "ProduksiBA_KG" })
                @Html.ValidationMessageFor(m => m.ProduksiBA_KG)
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-12">
                <hr color=red>
            </div>
            @*Row 5------------------------------------------------------------------------------------------------------------------------*@
            <div class="col-md-6">
                <p id="msgBuat" style="background-color:dodgerblue; color:white;"></p>
            </div>
            <div class="col-md-6">
                <p id="msgUpdate" style="background-color: darkseagreen; color: white;"></p>
            </div>
            <div class="col-md-12 card-footer">
                <button id="button"
                        text="DELETE"
                        class="btn btn-danger"
                        onclick="validatenumber()">
                    <h4>DELETE</h4>
                </button>
            </div>
        </div>



        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        <script>
    var NamaBuat = '@Model.CreatedBy.FCName';
    var DTbuat = moment('@Model.FCCreatedDT').format("YYYY-MM-DD");
        if ('@Model.FCCreatedDT' == '1/1/0001 12:00:00 AM') {
            DTbuat = '';
    }
    if (NamaBuat == '') {
        NamaBuat = 'N/A';
    }

    var msg = "Dibuat Oleh: " + NamaBuat+" " + DTbuat;
    document.getElementById('msgBuat').innerHTML = msg;

    var NameUbah = "N/A";
    var DTubah = "";
    if ('@Model.UpdateBy.FCName' !== "") {
        NameUbah = '@Model.UpdateBy.FCName';
        DTubah = moment('@Model.FCUpdatedDT').format("YYYY-MM-DD");
    }
    msg = "Diubah Oleh: "+NameUbah+" " + DTubah;
    document.getElementById('msgUpdate').innerHTML = msg;


    var VolumeFFB_KG = numeral(document.getElementById('VolumeFFB_KG').value);
    $("#VolumeFFB_KG").val(VolumeFFB_KG.format('0,0.00'));

    var VolumeCPO_KG = numeral(document.getElementById('VolumeCPO_KG').value);
    $("#VolumeCPO_KG").val(VolumeCPO_KG.format('0,0.00'));

    var VolumePK_KG = numeral(document.getElementById('VolumePK_KG').value);
    $("#VolumePK_KG").val(VolumePK_KG.format('0,0.00'));

    var ProduksiCangkang_KG = numeral(document.getElementById('ProduksiCangkang_KG').value);
    $("#ProduksiCangkang_KG").val(ProduksiCangkang_KG.format('0,0.00'));

    var BakarCangkang_KG = numeral(document.getElementById('BakarCangkang_KG').value);
    $("#BakarCangkang_KG").val(BakarCangkang_KG.format('0,0.00'));

    var EBITDA_Cangkang = numeral(document.getElementById('EBITDA_Cangkang').value);
    $("#EBITDA_Cangkang").val(EBITDA_Cangkang.format('0,0.00'));

    var ProduksiBA_KG = numeral(document.getElementById('ProduksiBA_KG').value);
    $("#ProduksiBA_KG").val(ProduksiBA_KG.format('0,0.00'));

        </script>

    }
}