@model IEnumerable<MyAttd.Models.T_Supplier>

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{
    @Html.AntiForgeryToken()
<input type="text" id="myInputPop" onkeyup="myFunctionPop()" placeholder="Search for names.." title="Type in a name">

    <table class="table table-bordered table-responsive table-hover customers-list" style="white-space:nowrap" id="cssTableGrid">
        <thead class="table-primary" style="position:sticky; top:0;">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PMKSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PMKSName)
                </th>
            </tr>
        </thead>
        <tbody id="myTablePop" >
            @foreach (var item in Model)
            {
                <tr ondblclick="selectItem('@item.SupplierID','@item.SupplierName', '@item.PMKSID','@item.PMKSName');">
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SupplierName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PMKSID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PMKSName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <script>
        function myFunctionPop() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInputPop");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTablePop");
            var rows = table.getElementsByTagName("tr");
            for (i = 0; i < rows.length; i++) {
                var cells = rows[i].getElementsByTagName("td");
                var j;
                var rowContainsFilter = false;
                for (j = 0; j < cells.length; j++) {
                    if (cells[j]) {
                        if (cells[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                            rowContainsFilter = true;
                            continue;
                        }
                    }
                }

                if (!rowContainsFilter) {
                    rows[i].style.display = "none";
                } else {
                    rows[i].style.display = "";
                }
            }
        }
    </script>
}
