@{
    ViewData["Title"] = "Report Detail List Payment";
}

<section class="content-header">
    <h1>@ViewData["Title"]</h1>

</section>
<style>
    th {
        position: sticky;
        top: 0;
    }

    tr.spaceUnder > td {
        padding-bottom: 1em;
    }
</style>

@if (ViewData["Message"] != null)
{
    <section class="content" style="min-height:0px !important;padding-top:0px !important; padding-bottom:0px !important;">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-warning box-solid" style="margin-top:15px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Perhatian!</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        @ViewData["Message"]
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div align=center id="formLoading">
    <img src="~/loadinggif1.gif" style="width:100px;height:70px" />
    <p><h1>Loading Data.....</h1></p>
</div>
<section class="content container-fluid" id="formUtama">
    <div class="box">
        <div class="box-header with-border">
            <table border="0">
                <tr class="spaceUnder">
                    <td>PMKS</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <div class="input-group">
                            <input type="text" size="10" id="PMKSID" readonly />
                            <button class="btn btn-primary center" onclick="GridPMKS(true)" style="width:25px;" id="btnPMKSID" />
                        </div>
                    </td>
                    @*<td><input type="checkbox" id="chkPMKS" /> ALL PMKS</td>*@
                </tr>
                <tr class="spaceUnder">
                    <td>PMKS Name</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td colspan="2">
                        <input type="text" size="40" id="PMKSName" readonly />
                    </td>
                </tr>
                <tr class="spaceUnder">
                <td>Supplier ID</td>
                <td>&nbsp;:&nbsp;</td>
                <td>
                    <div class="input-group">
                        <input type="text" size="10" id="SupplierID" readonly />
                        <button class="btn btn-primary center" onclick="GridSupplier(true)" style="width:25px;" id="btnPMKSID" />
                    </div>
                </td>
                </tr>
                <tr class="spaceUnder">
                    <td>SupplierName</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td colspan="2">
                        <input type="text" size="40" id="SupplierName" readonly />
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td>Date From</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <input type="date" id="DateForm">
                    </td>
                </tr>
                <tr class="spaceUnder">
                    <td>Date To</td>
                    <td>&nbsp;:&nbsp;</td>
                    <td>
                        <input type="date" id="DateTo">
                    </td>
                </tr>
            </table>
            @*<button onclick="print()">Print</button>*@
            <button class="btn btn-danger" onclick="print('PDF')">
                <h4><i class="fa fa-file-pdf-o"></i> Preview PDF</h4>
            </button>
            <button class="btn btn-success" onclick="print('XLS')">
                <h4><i class="fa fa-file-excel-o"></i> Export XLS</h4>
            </button>

        </div>
        <div class="box-body">
            <div id="AreaMainTable">

            </div>
        </div>

    </div>

    <div id="id01" class="w3-modal">
        <div class="w3-modal-content" id="myAreaDrag">
            <div class="w3-container">
                <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div id="mainPop1">

                </div>
            </div>
        </div>
    </div>

    <div id="id02" class="w3-modal">
        <div class="w3-modal-content" id="myAreaDrag">
            <div class="w3-container">
                <span onclick="document.getElementById('id02').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                <div id="mainPop2">

                </div>
            </div>
        </div>
    </div>



    <div id="popup">
    </div>
    <div id="popupChild">
    </div>


</section>

<script>
    //$("#chkPMKS").change(
    //    function () {
    //        var checked = document.getElementById('chkPMKS').checked;
    //        if (checked) {
    //            document.getElementById("PMKSID").value = "";
    //            document.getElementById("PMKSName").value = "";
    //            document.getElementById("btnPMKSID").disabled = true;
    //        }
    //        else {
    //            document.getElementById("btnPMKSID").disabled = false;
    //        }
    //    }
    //);

    LoadFinish();
    function LoadProcess() {
        $('#formLoading').show();
        $('#formUtama').hide();
    }
    function LoadFinish() {
        $('#formLoading').hide();
        $('#formUtama').show();
    }

    var currentDate = moment().format("YYYY-MM-DD");
    document.getElementById('DateForm').value = currentDate;
    document.getElementById('DateTo').value = currentDate;

    $(function () {
        $("#popup").dxPopup({
            title: "Popup Title",
            visible: false,
            closeOnOutsideClick: false,
            width: 750,
            height: 600,
            resizeEnabled: false
        });
        $("#popupChild").dxPopup({
            title: "Popup Title",
            visible: false,
            closeOnOutsideClick: false,
            width: 750,
            height: 400,
            resizeEnabled: false
        });
    });

    function print(par) {

        var PMKSID = document.getElementById('PMKSID').value
        var SupplierID = document.getElementById('SupplierID').value
        if (PMKSID == '') {
            alert("Silahkan Pilih PMKSID Terlebih Dahulu.");
            return;
        }
        if (SupplierID == '') {
            alert("Silahkan Pilih SupplierID Terlebih Dahulu.");
            return;
        }
        var DateFrom = document.getElementById('DateForm').value
        var DateTo = document.getElementById('DateTo').value
        const car = { PMKSID: PMKSID,SupplierID: SupplierID, dtF: DateFrom, dtT: DateTo, typeFile: par }

        LoadProcess();
        var url = '@Url.Action("Print", "TRptDetailListPayment")';
        var request = new XMLHttpRequest();
        request.responseType = "blob";
        //request.open('POST', "/TRptDetailListPayment/Print/");
        request.open('POST', url);
        request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        request.send(JSON.stringify(car));
        request.onload = function () {
            if (par == "PDF") {
                var url = window.URL.createObjectURL(this.response);
                var a = document.createElement("a");
                document.body.appendChild(a);
                a.href = url;
                a.setAttribute('target', '_blank');
                a.click();
            }
            else {
                if (this.status === 200) {
                    var blob = this.response;
                    var reader = new FileReader();
                    reader.readAsDataURL(blob);
                    reader.onload = function (e) {
                        var a = document.createElement("a");
                        //console.log(a)
                        a.download = "DetailListPayment.xls";
                        a.href = e.target.result;
                        a.click();
                    };
                }
            }
            LoadFinish();
        }

    }

       function GridPMKS() {
        $.ajax({
            //url: '/TSAPVendor/GridPMKS',
            url: '@Url.Action("GridPMKS", "TSAPVendor")',
            traditional: true,
            data: {}
        }).done(function (response) {
            $("#popupChild").dxPopup({
                title: "Grid PMKS",
                visible: true,
                contentTemplate: function (contentElement) {
                    var response_new = response.replace("<hr />", "").replace("<hr />", "");
                    contentElement.append(response_new)

                }
            });
        }).fail(function (data) {
            alert("Failed: " + data.response);
        });
    }

    function selectPMKS(a, b, c, d) {
        let text =
            "Data" +
            "\nCompany Code : " + a +
            "\nCompany Name : " + b +
            "\nPMKS ID : " + c +
            "\nPMKS Name : " + d;

        if (true) {
            $("#PMKSID").val(c);
            $("#PMKSName").val(d);
            $("#popupChild").dxPopup('instance').hide();
        }

    }
    function GridSupplier(a) {
        var pmks = document.getElementById("PMKSID").value;
        $.ajax({
            //url: '/TSAPVendor/GridSupplierID?Approval=' + a + '&filter_PMKSID=' + pmks,
            url: '@Url.Action("GridSupplierID", "TSAPVendor")',
            traditional: true,
            data: { Approval: a, filter_PMKSID:pmks},
        }).done(function (response) {
            $("#popupChild").dxPopup({
                title: "Grid Supplier",
                visible: true,
                contentTemplate: function (contentElement) {
                    var response_new = response.replace("<hr />", "").replace("<hr />", "");
                    contentElement.append(response_new)
                    document.getElementById("PopChildApproval").checked = a;
                }
            });
        }).fail(function (data) {
            alert("Failed: " + data.response);
        });
    }
    function selectSupplier(a, b, c, d) {
        let text =
            "Data" +
            "\nSupplier ID : " + a +
            "\nSupplier Name : " + b +
            "\nPMKS ID : " + c +
            "\nCode : " + d;

        if (true) {
            $("#SupplierID").val(a);
            $("#SupplierName").val(b);
            $("#popupChild").dxPopup('instance').hide();
        }

    }
</script>
