@model MyAttd.Models.T_PPN

<div class="title">
    Create VAT Advance
    <hr />
</div>

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{

    @using (Html.BeginForm("CreateAdvance", "TPPN", FormMethod.Post, new { id = "frmId", @class = "frmStyle" }))
    {
        @Html.AntiForgeryToken()
        <div class="editors" id="formLoadingChild" align="center">
            <img src="~/loadinggif1.gif" style="width:100px;height:70px" />
            <p><h1>Loading Data.....</h1></p>
        </div>
        <div class="editors">
            <div class="col-md-6">
                @Html.LabelFor(m => m.no_faktur_pajak)
                @Html.TextBoxFor(m => m.no_faktur_pajak, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.no_faktur_pajak)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(m => m.tgl_faktur_pajak)
                @Html.EditorFor(m => m.tgl_faktur_pajak, new { htmlAttributes = new { @class = "form-control", @id = "tgl_faktur_pajak" } })
                @Html.ValidationMessageFor(m => m.tgl_faktur_pajak)
            </div>

            <div class="col-md-3">
                @Html.LabelFor(m => m.Periode)
                @Html.EditorFor(m => m.Periode, new { htmlAttributes = new { @required = "required", @type = "month", @class = "form-control", @id = "periode" } })
                @Html.ValidationMessageFor(m => m.Periode)
            </div>

            <div class="col-md-6">
                @Html.LabelFor(m => m.sap_company_code)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.sap_company_code, new { @readonly = "readonly", @class = "form-control", @id = "grdCompanyCode" })
                    <span class="btn btn-primary center" onclick="GridPMKS()" />
                    @Html.ValidationMessageFor(m => m.sap_company_code)
                </div>

                @Html.LabelFor(m => m.sap_company_name)

                @Html.TextBoxFor(m => m.sap_company_name, new { @readonly = "readonly", @class = "form-control", @id = "grdCompanyName" })
                @Html.ValidationMessageFor(m => m.sap_company_name)

                @Html.LabelFor(m => m.sap_vendor_code)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.sap_vendor_code, new { @readonly = "readonly", @class = "form-control", @id = "grdVendorCode" })
                    <span class="btn btn-primary center" onclick="GridSAPVENDOR()" />
                    @Html.ValidationMessageFor(m => m.sap_vendor_code)
                </div>

                @Html.LabelFor(m => m.sap_vendor_name)
                @Html.TextBoxFor(m => m.sap_vendor_name, new { @readonly = "readonly", @class = "form-control", @id = "grdVendorName" })
                @Html.ValidationMessageFor(m => m.sap_vendor_name)
            </div>
            <div class="col-md-6">

                @Html.LabelFor(m => m.CashNo)
                <div class="input-group">
                    @Html.TextBoxFor(m => m.CashNo, new { @class = "form-control", @id = "CashNo" })
                    <span id="btnCashNo" class="btn btn-primary center" onclick="GridCashNo()" />
                    @Html.ValidationMessageFor(m => m.CashNo)
                </div>

                @Html.LabelFor(m => m.amount_cash_advance)
                @Html.TextBoxFor(m => m.amount_cash_advance, new { @readonly = "readonly", @class = "form-control", @id = "amount_cash_advance" })
                @Html.ValidationMessageFor(m => m.amount_cash_advance)


                @Html.LabelFor(m => m.ppn)
                @Html.TextBoxFor(m => m.ppn, new { @readonly = "readonly", @class = "form-control", @id = "ppn" })
                @Html.ValidationMessageFor(m => m.ppn)

                @Html.LabelFor(m => m.disetorke)
                <div class="input-group">
                    @Html.DropDownListFor(m => m.disetorke, new SelectList(Enum.GetValues(typeof(setor)), "Select Gender"), new { @readonly = "readonly", @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.disetorke)
                    <div class="center" style="margin:auto;">
                        &nbsp;Nb : V = Vendor, K = KPPTN
                    </div>

                </div>

            </div>



            <div class="col-md-12">
                <br />
            </div>
            <div class="col-md-12 card-footer">
            <button id="button"
                    text="Save"
                    class="btn btn-primary"
                    onclick="validatenumberAdvance()">
                <h4>Save</h4>
            </button>
        </div>
        </div>



        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }

        <script>
            $('#formLoadingChild').hide()
            ////untuk total_amount--------------------------------------------------------------------------------------------------
            //var total_amount = numeral(document.getElementById('total_amount').value);
            //$("#total_amount").val(total_amount.format('0,0'));

            //$("#total_amount").on('blur', function () {
            //    total_amount = numeral(document.getElementById('total_amount').value);
            //    $(this).val(total_amount.format('0,0'));
            //})
            ////--------------------------------------------------------------------------------------------------------------------
            ////untuk incentive--------------------------------------------------------------------------------------------------
            //var incentive = numeral(document.getElementById('incentive').value);
            //$("#incentive").val(incentive.format('0,0'));

            //$("#incentive").on('blur', function () {
            //    incentive = numeral(document.getElementById('incentive').value);
            //    $(this).val(incentive.format('0,0'));
            //})
            ////--------------------------------------------------------------------------------------------------------------------
            //untuk ppn--------------------------------------------------------------------------------------------------
            var ppn = numeral(document.getElementById('ppn').value);
            $("#ppn").val(ppn.format('0,0'));

            $("#ppn").on('blur', function () {
                ppn = numeral(document.getElementById('ppn').value);
                $(this).val(ppn.format('0,0'));
            })
            //--------------------------------------------------------------------------------------------------------------------
            //untuk amount_cash_advance--------------------------------------------------------------------------------------------------
            var amount_cash_advance = numeral(document.getElementById('amount_cash_advance').value);
            $("#amount_cash_advance").val(amount_cash_advance.format('0,0'));

            $("#amount_cash_advance").on('blur', function () {
                amount_cash_advance = numeral(document.getElementById('amount_cash_advance').value);
                $(this).val(amount_cash_advance.format('0,0'));
            })
            //--------------------------------------------------------------------------------------------------------------------

            ////untuk ppntype--------------------------------------------------------------------------------------------------
            //var ppn1 = numeral(document.getElementById('ppn1').value);
            //$("#ppn1").val(ppn1.format('0,0'));

            //$("#ppn1").on('blur', function () {
            //    ppn1 = numeral(document.getElementById('ppn1').value);
            //    $(this).val(ppn1.format('0,0'));
            //})
            ////--------------------------------------------------------------------------------------------------------------------


            //untuk periode-------------------------------------------------------------------------------------------------------
            var periodemoment = moment().format("YYYY-MM");
            document.getElementById('periode').value = periodemoment;
            document.getElementById('tgl_faktur_pajak').value = moment().format("YYYY-MM-DD");
            //--------------------------------------------------------------------------------------------------------------------

            //function callProses() {
            //    var CompanyCode = document.getElementById('grdCompanyCode').value;
            //    var VendorCode = document.getElementById('grdVendorCode').value;
            //    var Periode = document.getElementById('periode').value.replace("-", "");
            //    var Periode_Awal = document.getElementById('periode_awal').value;
            //    var Periode_Akhir = document.getElementById('periode_akhir').value;
            //    if (CompanyCode == "") {
            //        alert("Please Input Company Code First.")
            //        return;
            //    }
            //    if (VendorCode == "") {
            //        alert("Please Input Vendor Code First.")
            //        return;
            //    }
            //    $('#formLoadingChild').show()
            //    $('#ChildCreate').hide()
            //    alert("masuk")
            //    $.ajax({
            //        url: '/TPPN/callProses?CC=' + CompanyCode + '&VC=' + VendorCode + '&Periode=' + Periode + '&Awal=' + Periode_Awal + '&akhir=' + Periode_Akhir,
            //        traditional: true,
            //        success: function (data) {
            //            if (data) {
            //                if (data == "null") {
            //                    alert("Sorry Total Amount and other Data not found.");
            //                    $('#formLoadingChild').hide();
            //                    $('#ChildCreate').show();
            //                    return;
            //                }
            //                const myObj = JSON.parse(data);
            //                total_amount = numeral(myObj.total_amount).value();
            //                amount_cash_advance = numeral(document.getElementById('amount_cash_advance').value).value();
            //                ppn = numeral(myObj.ppn).value();
            //                ppn1 = numeral(document.getElementById('ppn1').value).value()

            //                $("#total_amount").val(numeral(total_amount-amount_cash_advance).format('0,0'));
            //                $("#incentive").val(numeral(myObj.incentive).format('0,0'));
            //                $("#ppn").val(numeral(ppn - ppn1).format('0,0'));
            //                $('#formLoadingChild').hide();
            //                $('#ChildCreate').show();

            //            }

            //        }
            //    });
            //}

            //$('#ppn_penyelesaian').change(

            //    function (e) {
            //        // code here to hide your text
            //        var checked = document.getElementById('ppn_penyelesaian').checked;
            //        if (checked) {
            //            document.getElementById("total_amount").value = 0;
            //            document.getElementById("ppn").value = 0;
            //            //document.getElementById("CashNo").readOnly = false;
            //            //document.getElementById("amount_cash_advance").readOnly = false;
            //            //document.getElementById("ppn_type").readOnly = false;
            //        }

            //        else {
            //            total_amount = numeral(document.getElementById('total_amount').value).value();
            //            ppn = numeral(document.getElementById('ppn').value).value()
            //            amount_cash_advance = numeral(document.getElementById('amount_cash_advance').value).value();
            //            ppn1 = numeral(document.getElementById('ppn1').value).value()

            //            document.getElementById("no_faktur_pajak_advance").value = null;
            //            //document.getElementById("CashNo").readOnly = true;
            //            //document.getElementById("amount_cash_advance").readOnly = true;
            //            document.getElementById("amount_cash_advance").value = null;
            //            document.getElementById("ppn1").value = null;
            //            document.getElementById("total_amount").value = numeral(total_amount + amount_cash_advance).format('0,0');
            //            document.getElementById("ppn").value = numeral(ppn + ppn1).format('0,0');
            //        }
            //    }
            //);
            
        </script>
    }
}
