@model MyAttd.Models.T_Role

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{
    @using (Html.BeginForm("Delete", "TRole", FormMethod.Post, new { id = "frmId", @class = "frmStyle" }))
    {

        //using (Html.DevExtreme().ValidationGroup())
        //{
        @Html.AntiForgeryToken()
        <div class="editors">
            <div class="dx-fieldset col-md-12">
                
                <div class="dx-field center col-md-12">
                    @Html.LabelFor(m => m.FCRoleDesc)
                    @*@Html.DevExtreme().TextBoxFor(m => m.FCRoleDesc).ID("FCRoleDesc").ReadOnly(true)*@
                    @Html.TextBoxFor(m => m.FCRoleDesc, new { @id = "FCRoleDesc", @class = "form-control" })
                </div>
            </div>
            @Html.HiddenFor(m => m.FCRoleID)
            <div class="dx-fieldset col-md-12">
                <div class="dx-field right col-md-4">
                    @*@Html.DevExtreme().Button().ID("button").Text("Hapus").Type(ButtonType.Danger).OnClick("saveClick").UseSubmitBehavior(true)*@
                    <button type="button" class="btn btn-success" onclick="saveClick()">Batal Hapus</button>
                </div>
            </div>
        </div>

        //}
    }

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
        DevExpress.config({
            editorStylingMode: "outlined"
        });

        function saveClick(e) {
            var result = e.validationGroup.validate();
            if (!result.isValid) {
                DevExpress.ui.notify("Proses tidak dapat dilanjutkan. Periksa kembali data inputan.", "error");
                return false;
            } else {
                return true;
            }
        }


    </script>


}
