@model IEnumerable<MyAttd.Models.T_FFB>

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{

    <table class="table table-bordered table-responsive table-hover" style="white-space:nowrap" id="cssTableUtama">
        <thead class="table-primary" style="position:sticky; top:0;">
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.Post2Payment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SupplierName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalPembayaran)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RealisasiPanjarAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PMKSID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Supplier)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GroupPayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kendaraan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TanggalTimbang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ticket)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BeratNetto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Potongan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Netto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NettoTransfeer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Janjang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Komidel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HargaBeli)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Harga)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PPH22)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.VAT)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PMKSTransfeer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CalculateBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CalculateDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastAccess)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sap_process)
                </th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <button class="btn btn-success" title="Edit" onclick="editIconClick('@item.Ticket')"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    @if (item.Post2Payment.ToString() != ("1/1/0001 12:00:00 AM"))
                    {
                        @Html.DisplayFor(modelItem => item.Post2Payment)
                    }

                </td>
                @if (item.Number == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>

                }
                else
                {
                    <td style="background-color:red;">
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPembayaran)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RealisasiPanjarAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PMKSID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupPayment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kendaraan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanggalTimbang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ticket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeratNetto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Potongan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Netto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NettoTransfeer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Janjang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Komidel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HargaBeli)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Harga)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PPH22)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VAT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PMKSTransfeer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CalculateBy)
                </td>
                <td>
                    @if (item.CalculateDate.ToString() != ("1/1/0001 12:00:00 AM"))
                    {
                        @Html.DisplayFor(modelItem => item.CalculateDate)
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastAccess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.sap_process)
                </td>
            </tr>
            }
        </tbody>
    </table>
}
<script>
    $(document).ready(function () {
        $('#cssTableUtama').DataTable({
            columnDefs: [{
                targets: [0],
                orderData: [0, 1]
            }, {
                targets: [1],
                orderData: [1, 0]
            }, {
                targets: [4],
                orderData: [4, 0]
            }]
        });
        //$(function () {
        //    $("tr").each(function () {
        //        var col_val = $(this).find("td:eq(2)").text().trim();
        //        if (col_val !== "") {
        //            $(this).addClass('selected');

        //        }
        //    });
        //});
    });
</script>
