@model MyAttd.Models.T_SetGeneral
@*<div class="title">
        VIEW Incentive
        <hr />
    </div>*@

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{

    @Html.AntiForgeryToken()
<div class="editors">
    @*Row 1------------------------------------------------------------------------------------------------------------------------*@
    <div class="col-md-3">
        @Html.LabelFor(m => m.SetId)
        @Html.TextBoxFor(m => m.SetId, new { @readonly = "readonly", @class = "form-control", @id = "SetId" })
        @Html.ValidationMessageFor(m => m.SetId)
    </div>
    <div class="col-md-9">
        @Html.LabelFor(m => m.SetName)
        @Html.TextBoxFor(m => m.SetName, new { @required = "required", @readonly = "readonly", @class = "form-control", @id = "SetName" })
        @Html.ValidationMessageFor(m => m.SetName)
    </div>
    <div class="col-md-12">

    </div>
    <div class="col-md-3">
        @Html.LabelFor(m => m.value)
        @Html.TextBoxFor(m => m.value, new { @readonly = "readonly", @class = "form-control", @id = "value" })
        @Html.ValidationMessageFor(m => m.value)
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

<script>

</script>

}