@model MyAttd.Models.T_SetReport
@*<div class="title">
        VIEW Incentive
        <hr />
    </div>*@

@if (ViewBag.Message != null)
{
    <h1 class="@ViewBag.MessageCSS">@ViewBag.MessageType</h1>
    <p class="@ViewBag.MessageCSS">@ViewBag.Message</p>
}
else
{

    @Html.AntiForgeryToken()
<div class="editors">
    @*Row 1------------------------------------------------------------------------------------------------------------------------*@
    <div class="col-md-6">
        @Html.LabelFor(m => m.ReportID)
        @Html.TextBoxFor(m => m.ReportID, new { @readonly = "readonly", @class = "form-control", @id = "ReportID" })
        @Html.ValidationMessageFor(m => m.ReportID)
    </div>
    <div class="col-md-12"></div>
    @*Row 2------------------------------------------------------------------------------------*@
    <div class="col-md-6">
        @Html.LabelFor(m => m.Name1)
        @Html.TextBoxFor(m => m.Name1, new { @readonly = "readonly", @class = "form-control", @id = "Name1" })
        @Html.ValidationMessageFor(m => m.Name1)
    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.Name4)
        @Html.TextBoxFor(m => m.Name4, new { @readonly = "readonly", @class = "form-control", @id = "Name4" })
        @Html.ValidationMessageFor(m => m.Name4)
    </div>
    @*Row 3------------------------------------------------------------------------------------*@
    <div class="col-md-6">
        @Html.LabelFor(m => m.Name2)
        @Html.TextBoxFor(m => m.Name2, new { @readonly = "readonly", @class = "form-control", @id = "Name2" })
        @Html.ValidationMessageFor(m => m.Name2)
    </div>
    <div class="col-md-6">
        @Html.LabelFor(m => m.Name5)
        @Html.TextBoxFor(m => m.Name5, new { @readonly = "readonly", @class = "form-control", @id = "Name5" })
        @Html.ValidationMessageFor(m => m.Name5)
    </div>
    @*Row 4------------------------------------------------------------------------------------*@
    <div class="col-md-6">
        @Html.LabelFor(m => m.Name3)
        @Html.TextBoxFor(m => m.Name3, new { @readonly = "readonly", @class = "form-control", @id = "Name3" })
        @Html.ValidationMessageFor(m => m.Name3)
    </div>
    @*Row 5------------------------------------------------------------------------------------------------------------------------*@
    <div class="col-md-12"></div>
    <div class="col-md-6">
        <br />
        <p id="msgBuat" style="background-color:dodgerblue; color:white;"></p>
    </div>
    <div class="col-md-6">
        <br />
        <p id="msgUpdate" style="background-color: darkseagreen; color: white;"></p>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script>
    var NamaBuat = '@Model.CreatedBy.FCName';
    var DTbuat = moment('@Model.FCCreatedDT').format("YYYY-MM-DD");
        if ('@Model.FCCreatedDT' == '1/1/0001 12:00:00 AM') {
            DTbuat = '';
    }
    if (NamaBuat == '') {
        NamaBuat = 'N/A';
    }

    var msg = "Dibuat Oleh: " + NamaBuat+" " + DTbuat;
    document.getElementById('msgBuat').innerHTML = msg;

    var NameUbah = "N/A";
    var DTubah = "";
    if ('@Model.UpdateBy.FCName' !== "") {
        NameUbah = '@Model.UpdateBy.FCName';
        DTubah = moment('@Model.FCUpdatedDT').format("YYYY-MM-DD");
    }
    msg = "Diubah Oleh: "+NameUbah+" " + DTubah;
    document.getElementById('msgUpdate').innerHTML = msg;

    @*var NameApprove = "N/A";
    var DTApprove = "";
    if ('@Model.ApproveBy.FCName' !== "") {
        NameUbah = '@Model.ApproveBy.FCName';
        DTApprove = moment('@Model.FCApproveDT').format("YYYY-MM-DD");
    }
    msg = "Diapprove Oleh: " + NameApprove + " " + DTApprove;
    document.getElementById('msgApprove').innerHTML = msg;*@


    </script>

}